{% extends "layout.html" %}

{% block title %}
    Confirmation
{% endblock %}

{% block main %}
    <h2><b>SELL CONFIRMATION</b></h2>
    <h3>SALE : {{ amount }}x <u>{{ stockname }}</u>(<b>{{ symbol }}</b>) stock at {{ price }} each?</h2>
    <hr>
    <h3>TOTAL : <mark><b>{{ total }}</b></mark></h3>
    <form class="pt-2" action="/sell" method="post">
        <input class = "btn btn-success" name="reply" type="submit" value="Proceed">
    </form>

    <form class="pt-2" action="/sell" method="post">
        <input class = "btn btn-danger" name="reply" type="submit" value="Cancel">
    </form>
{% endblock %}
